<div id="crowd_data">
  <p><span class="bold-label">Zooniverse Crowd Opinion:</span>&nbsp;<span id="crowd-thinks-summary" class="summary">
      </span><div id="crowd-thinks-status" class="active">
          <span id="active-value"></span>
          <span id="active-more-needed" class="active-more-needed"></span>
      </div></p>

  <div class="classifications">
      <div id="crowd-classifications">
      </div>
  </div>
</div>

<script type="text/javascript">

$(function () {

  window.subject = <%= @subject.to_json.html_safe %>;
  window.comments = <%= @subject.comments.to_json.html_safe %>;
  window.consensus = <%= @subject.consensus.to_json.html_safe %>;

  crowdData = FilterManager.buildCrowdData(subject, consensus);
  $("#crowd-thinks-summary").addClass(crowdData.state);
  $("#crowd-thinks-summary").html(crowdData.message);
  $("#crowd-thinks-status").addClass("active-"+crowdData.active);
  if (crowdData.active) {
    $("#crowd-thinks-status #active-value").html("Awaiting Further Classifications");

  }
  else {
    $("#crowd-thinks-status #active-value").html("Classified");
  }
  if(crowdData.min_classifications_needed) {
    $("#crowd-thinks-status #active-more-needed").html("At least "+crowdData.min_classifications_needed+" more classifications are needed.");
  }
  else {
    $("#crowd-thinks-status #active-more-needed").hide();
  }
  html = ""; // classifications div html
  for (index in crowdData.allClassificationData) {
    classification = crowdData.allClassificationData[index];
    html += "<div class = 'classification";
    if (Object.keys(classification.speciesData)[0] == "blank") {
      html += " blank-classification";
    }
    if (classification.voters == crowdData.maxClassificationVoters) {
      html += " biggest";
    }
    html += "'>";
    html += "<span class='voters'>" + classification.voters + "</span>";
    html += "<span class='voters-label'>voted for</span>";
    html += "<div class='species-list'>";
    for (species in classification.speciesData) {
      speciesName = classification.speciesData[species];
      if (species == "blank") {
        html += "<div class='species'><span class='no-animals-present'>No<br/>Animals<br/>Present</span></div>";
      }
      else {
        html += "<div class='species'>" + speciesName + "</div>";
        html += "<div class='species-image " + species + "'></div>";
      }
    }
    html += "</div>"; // close species list div
    html += "</div>"; // close classification div
  }
  $("#crowd-classifications").html(html);

});

</script>
