<div class="row">
  <div class="small-12 columns">
    <h1>Subjects#index</h1>
    <table style="width: 100%">
      <thead>
        <th>ID</th>
        <th>Zooniverse ID</th>
        <th>Status</th>
      </thead>

      <tbody>
        <% @subjects.each do |subject| %>
          <tr id="subject-<%= subject.id %>">
            <td><%= subject.id %></td>
            <td><%= link_to subject.zooniverse_id, subject %></td>
            <td><%= subject.mico_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
