// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash-messages {
  margin-top: 2em;
  margin-bottom: 2em;
}

#subjects-list-thumbs li img {
  border: solid 4px #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  width: 227px;
  height: 161px;
}

#subject {
  position: relative;
  overflow: hidden;
}

.unboxed-label {
  background-color: white;
  color: black;
}

table#regions-data {
  border-collapse: collapse;
}

.left-side {
  width:636px;
}

#subject img {
  border: 1px solid black;
  width:100%;
  height:100%;
}

.region {
  position: absolute;
  background-color: rgba(255, 255, 128, 0.2);
  border: 1px solid black;
  overflow: hidden;
}

.header-right {
  float: right;
  margin-right: 20px;
}

.sticky {
  position:fixed !important;
  top:150px;
}

div.sticky + div {
  height:100%;
}

.highlighted-region {
  border: 2px solid red;
  outline: 600px solid rgba(0, 0, 0, 0.33);
  background-color: transparent;
  box-shadow: 4px 2px 2px #333333;
  color:white;
  overflow:visible;
}

.highlighted-region div {
  margin-top: -26px;
  text-align: center;
  -webkit-filter: brightness(100%);
}
.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

.hover {
  background-color: rgba(255, 255, 128, 0.2) !important;
  border:1px solid black;
}