// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash-messages {
  margin-top: 2em;
  margin-bottom: 2em;
}

#subjects-list-thumbs li img {
  border: solid 4px #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#subject {
  position: relative;
}

#subject img {
  border: 1px solid black;
}

.region {
  position: absolute;
  background-color: rgba(255, 255, 128, 0.2);
  border: 1px solid black;
  overflow: hidden;
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}
