// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash-messages {
  margin-top: 2em;
  margin-bottom: 2em;
}

#filters-section {
  font-size: small;
  line-height: 1em;
  padding: 5px 0px 0px;
  margin: 0 auto;
}

#filters-section .filters-row:nth-child(2) {
  margin-top: 5px;
}

.bold-label {
  font-weight: bold;
}

#filters-section a {
  font-size: small;
  line-height: 1em;
  padding: 5px 10px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 3px;
  box-shadow: 2px 2px 2px #888888;
}

ul.f-dropdown {
  padding: 0px !important;
}

#zoo-filters .button,
span.zoo-filter {
  background-color: #778CBA;
}

#mico-filters .button,
span.mico-filter {
  background-color: #8CBA77;
}

ul.f-dropdown li.divider {
  border-bottom: 1px #999999 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

#filters-section .filter-row-label {
  display: inline-block;
  padding: 5px;
  min-width: 150px;
  text-align: right;
}

#filters-section a[disabled=disabled] {
  cursor: not-allowed;
}

#filters-drawer-row .filter-row-label {
  line-height: 15px !important;
}

#filters-drawer-row #filters-drawer,
#filters-drawer-row .filter-row-label,
#filters-drawer-row .no-filters {
  vertical-align: middle;
  display: inline-block;
}

span.no-filters {
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  white-space: nowrap;
}

span.filter-pill {
  border-radius: 15px;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  white-space: nowrap;
  box-shadow: 2px 2px 2px #888888;
  cursor: image-url("erase.ico"), no-drop;
}

hr.slim {
  margin: 10px auto;
}

hr.slim.no-top {
  margin: 0px auto 10px;
}

hr.slim.no-bottom {
  margin: 6px auto 0px;
}

#filters-section #filters-drawer-row {
  margin-top: 0px;
}

#filters-section #filters-drawer {
  display: inline-block;
  padding: 5px;
  text-align: left;
  left: -18px;
}

#subjects-list-thumbs li img {
  border: solid 4px #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  width: 227px;
  height: 161px;
}

#resub-box {
  margin-top: 10px;
}

#resub-box div {
  text-align: center;
}

#resub-box p.small-sub {
  color: #999999;
  font-size: x-small;
  text-align: center;
}

#resub-box + hr {
  margin-top: 5px;
}

.result-counts {
  color: #999999;
  font-size: 1em;
  text-align: center;
  margin-bottom: 5px;
}

#resub-box a.button.tiny,
#resub-box p,
#resub-box h1,
#resub-box h2,
#resub-box h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

#subject {
  position: relative;
  overflow: hidden;
}

.unboxed-label {
  background-color: white;
  color: black;
}

table#regions-data {
  border-collapse: collapse;
}

.left-side {
  width: 636px;
}

#subject img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.region {
  position: absolute;
  background-color: rgba(255, 255, 128, 0.2);
  border: 1px solid black;
  overflow: hidden;
}

.header-right {
  float: right;
  margin-right: 20px;
}

.sticky {
  position: fixed !important;
  top: 150px;
}

div.sticky + div {
  height: 100%;
}

.highlighted-region {
  border: 2px solid red;
  outline: 600px solid rgba(0, 0, 0, 0.33);
  background-color: transparent;
  box-shadow: 4px 2px 2px #333333;
  color: white;
  overflow: visible;
}

.highlighted-region div {
  margin-top: -26px;
  text-align: center;
  -webkit-filter: brightness(100%);
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

.hover {
  background-color: rgba(255, 255, 128, 0.2) !important;
  border: 1px solid black;
}

table tr td,
table thead tr th {
  padding: 0.3rem !important;
  text-align: center;
}

table thead tr th {
  line-height: 1rem !important;
  border-bottom: 1px #000000 solid;
}

table thead tr th:last-child {
  border-right: 1px #000000 solid;
}

table {
  border: 1px #000000 solid;
}

.classifications {
  margin-bottom: 0px;
  display: table;
}

.classifications div.active {
  padding: 5px;
  margin: 10px 0px 10px;
  color: #FFFFFF;
  text-align: center;
  display: table;
  padding: 5px 20px;
  margin: 10px auto;
}

.classifications div.active > span {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.classifications div.active #active-more-needed {
  display: block;
  padding: 5px;
  text-align: center;
}

.classifications div.active #active-value {
  font-size: 20px;
  font-weight: bold;
  padding-left: 7px;
  float: left;
}

.classifications div.active.active-false {
  background-color: #60ac39;
}

.classifications div.active.active-true {
  background-color: #CC0000;
}

div.classifications {
  margin: auto;
  text-align: center;
}

div.classifications div.classification {
  display: inline-block;
  vertical-align: middle;
  background-color: #dddddd;
  padding: 10px;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
}

div.classifications div.classification.biggest {
  background-color: #ffe562;
  font-size: 15px;
}

div.classifications div.classification.biggest span.voters {
  font-size: 45px;
}

div.classifications div.classification.biggest div.species {
  font-size: 15px;
}

div.classifications div.classification span.voters {
  font-size: 35px;
  display: block;
  padding: 0px 5px;
}

div.classifications div.classification span.voters-label {
  margin-bottom: 8px;
  display: block;
}

div.classifications div.classification div.species-list div.species {
  height: 90px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

div.classifications div.classification div.species-list div.species .no-animals-present {
  font-weight: bold;
  text-align: center;
  height: 90px;
  width: 75px;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

div.classifications div.classification div.species-list div.species .species-name {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

div.classifications div.species-image {
  background-image: url("http://static.zooniverse.org/www.snapshotserengeti.org/images/animal-thumbnails-cache-bust.jpg");
  height: 68px;
  width: 68px;
  display: inline-block;
}

.species-list div.aardvark {
  background-position: -2px -0px;
}

.species-list div.aardwolf {
  background-position: -2px -72px;
}

.species-list div.baboon {
  background-position: -2px -144px;
}

.species-list div.batearedfox {
  background-position: -2px -216px;
}

.species-list div.otherbird {
  background-position: -2px -3312px;
}

.species-list div.buffalo {
  background-position: -2px -288px;
}

.species-list div.bushbuck {
  background-position: -2px -360px;
}

.species-list div.caracal {
  background-position: -2px -432px;
}

.species-list div.cheetah {
  background-position: -2px -504px;
}

.species-list div.civet {
  background-position: -2px -576px;
}

.species-list div.dikdik {
  background-position: -2px -648px;
}

.species-list div.eland {
  background-position: -2px -720px;
}

.species-list div.elephant {
  background-position: -2px -792px;
}

.species-list div.gazellegrants {
  background-position: -2px -864px;
}

.species-list div.gazellethomsons {
  background-position: -2px -936px;
}

.species-list div.genet {
  background-position: -2px -1008px;
}

.species-list div.giraffe {
  background-position: -2px -1080px;
}

.species-list div.guineafowl {
  background-position: -2px -1152px;
}

.species-list div.hare {
  background-position: -2px -1224px;
}

.species-list div.hartebeest {
  background-position: -2px -1296px;
}

.species-list div.hippopotamus {
  background-position: -2px -1368px;
}

.species-list div.honeybadger {
  background-position: -2px -1440px;
}

.species-list div.hyenaspotted {
  background-position: -2px -1512px;
}

.species-list div.hyenastriped {
  background-position: -2px -1584px;
}

.species-list div.impala {
  background-position: -2px -1656px;
}

.species-list div.jackal {
  background-position: -2px -1728px;
}

.species-list div.koribustard {
  background-position: -2px -1800px;
}

.species-list div.leopard {
  background-position: -2px -1872px;
}

.species-list div.lionfemale {
  background-position: -2px -1944px;
}

.species-list div.lionmale {
  background-position: -2px -2016px;
}

.species-list div.mongoose {
  background-position: -2px -2088px;
}

.species-list div.ostrich {
  background-position: -2px -2160px;
}

.species-list div.porcupine {
  background-position: -2px -2232px;
}

.species-list div.reedbuck {
  background-position: -2px -2304px;
}

.species-list div.reptiles {
  background-position: -2px -2376px;
}

.species-list div.rhinoceros {
  background-position: -2px -2448px;
}

.species-list div.rodents {
  background-position: -2px -2520px;
}

.species-list div.secretarybird {
  background-position: -2px -2592px;
}

.species-list div.serval {
  background-position: -2px -2664px;
}

.species-list div.topi {
  background-position: -2px -2736px;
}

.species-list div.vervetmonkey {
  background-position: -2px -2808px;
}

.species-list div.warthog {
  background-position: -2px -2880px;
}

.species-list div.waterbuck {
  background-position: -2px -2952px;
}

.species-list div.wildcat {
  background-position: -2px -3024px;
}

.species-list div.wildebeest {
  background-position: -2px -3096px;
}

.species-list div.zebra {
  background-position: -2px -3168px;
}

.species-list div.zorilla {
  background-position: -2px -3240px;
}

.species-list div.human {
  background-position: -2px -3384px;
}

.species-list div.duiker {
  background-position: -2px -3456px;
}

.species-list div.steenbok {
  background-position: -2px -3528px;
}

.species-list div.cattle {
  background-position: -2px -3600px;
}

.species-list div.bat {
  background-position: -2px -3672px;
}

.species-list div.insectspider {
  background-position: -2px -3744px;
}

.species-list div.vulture {
  background-position: -2px -3816px;
}

div.species :last-child {
  margin-right: 0px;
}
